<div id="error-popup" class="error-popup">
    <div class="error-popup-header">
        <h3>{{ errTitle }}</h3>
        <h4>{{ errMsg }}</h4>
    </div>
    <div class="error-popup-body">
        {{ errCallTrace }}
    </div>
    <div class="error-popup-footer">
        <div class="close-button-wrapper">
            <div class="text-button-wrapper">
                <div class="remove text-button" ng-click="closeErrorPopup();">
                    {{blamTranslate('Close');}}
                </div>
            </div>
        </div>
    </div>
</div>
<div id="error-popup-background" class="error-popup-background"></div>
