<div class="menu-item-title">
    Version
</div>
<div class="blender-version selectbox-wrapper" ng-show="showBlVerSelect">
    <select class="selectbox" name="blVerSelect" ng-change="onAddonSelectorChanged()" ng-model="$parent.blVerSelect" ng-options="ver as ver for ver in blVerList">
    </select>
    <!-- <div class="custom-dir-panel" ng-if="targetIsCustomDir()">
        <input type="text" ng-model="customAddonDir" readonly>
        <div class="text-button-wrapper">
            <div class="text-button" ng-click="openCustomAddonDir()">
                Open
            </div>
            <div class="text-button" ng-click="addCustomAddonDir()">
                Add
            </div>
        </div>
        <select class="selectbox" ng-change="onAddonSelectorChanged()" ng-model="customAddonDirSelect", ng-options="var as ver for ver in customAddonDirList">
        </select>
    </div> -->
</div>
<div class="menu-item-title">
    Addon List
</div>
<div class="menu-selector">
    <li ng-repeat="list in addonLists" class="addon-list-selector-item" ng-class="{addonListActive: isAddonListActive($index)}" ng-click="onAddonListSelectorChanged($index)">
        {{list.name}}
    </li>
</div>
<div class="menu-item-title">
    Category
</div>
<div class="menu-selector">
    <li ng-repeat="category in addonCategories" class="addon-category-selector-item" ng-class="{addonCategoryActive: isAddonCategoryActive($index)}" ng-click="onAddonCategorySelectorChanged($index)">
        {{category.name}}
    </li>
</div>
