<div ng-repeat="(i, key) in main.repoList">
    <div class="addon-item">
        <div class="name">
            {{blStr('name', addonStatus[key].github.bl_info.name);}}
        </div>
        <div class="description">
            {{blStr('description', addonStatus[key].github.bl_info.description);}}
        </div>
        <div class="author">
            {{blStr('author', addonStatus[key].github.bl_info.author);}}
        </div>
        <div class="version">
            <img src="../images/addon_version.png" /> {{blStr('version', addonStatus[key].github.bl_info.version);}}
        </div>
        <div class="bl-version">
            <img src="../images/ext/BlenderDesktopLogo.png" /> {{blStr('bl-version', addonStatus[key].github.bl_info.blender);}}
        </div>
        <div class="category">
            <img src="../images/category.png" /> {{blStr('category', addonStatus[key].github.bl_info.category);}}
        </div>
        <div style="text-align: right;">
            <div ng-include="'partials/addon-info/buttons.html'"></div>
        </div>
    </div>
</div>
