<div ng-repeat="(i, key) in main.repoList">
    <div class="addon-item">
        <div class="addon-item-left">
            <div class="addon-item-header">
                <div class="favorite">
                    <div ng-if="!isAddonFavorited(key)">
                        <img src="../images/favorite_button.png" data-repo-index="{{i}}" ng-click="onFavBtnClicked($event); $event.stopPropagation();" />
                    </div>
                    <div ng-if="isAddonFavorited(key)">
                        <img src="../images/favorite_button_favorited.png" data-repo-index="{{i}}" ng-click="onFavBtnClicked($event); $event.stopPropagation();" />
                    </div>
                </div>
                <div class="name">
                    {{blStr('name', addonStatus[key].github.bl_info.name);}}
                </div>
            </div>
            <div class="description">
                {{blStr('description', addonStatus[key].github.bl_info.description);}}
            </div>
            <div class="author">
                {{blStr('author', addonStatus[key].github.bl_info.author);}}
            </div>
        </div>
        <div class="addon-item-right">
            <div class="version">
                <img src="../images/addon_version.png" /> {{blStr('version', addonStatus[key].github.bl_info.version);}}
            </div>
            <div class="bl-version">
                <img src="../images/ext/BlenderDesktopLogo.png" /> {{blStr('bl-version', addonStatus[key].github.bl_info.blender);}}
            </div>
            <div class="category">
                <img src="../images/category.png" /> {{blStr('category', addonStatus[key].github.bl_info.category);}}
            </div>
        </div>
        <div class="buttons">
            <div ng-include="'partials/addon-info/buttons.html'"></div>
        </div>
    </div>
</div>
