.text-button-wrapper {
    width: 20%;
    max-width: 20%;
    display: inline-block;
    .text-button {
        cursor: pointer;
        display: block;
        background-color: $button-bgcolor;
        border: 1px solid #000000;
        padding: 5px;
        margin: 3px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        text-align: center;
        @include border-radius(3px);
        &:hover {
            background-color: $button-hover-bgcolor;
        }
    }
    .locked {
        color: $body-color - #202020;
        background-color: $button-bgcolor - #202020;
        &:hover {
            cursor: wait;
            color: $body-color - #202020;
            background-color: $button-bgcolor - #202020;
        }
    }
    .remove {
        color: $body-color + #442020;
        background-color: $button-bgcolor + #440000;
    }
    .update {
        color: $body-color + #202044;
        background-color: $button-bgcolor + #000044;
    }
}
