.app-body {
    .error-popup {
        display: none;
        width: $popup-width;
        height: $popup-height;
        margin-left: - $popup-width / 2;
        margin-top: - $popup-height / 2;
        position: fixed;
        top: 50%;
        left: 50%;
        background-color: #252525;
        z-index: 101;
        box-shadow: 0px 0px 20px 20px rgba(0,0,0,1.0);
        .error-popup-header {
            h3 {
                font-size: 2rem;
                padding-left: 1rem;
                margin: 1.0rem;
            }
            h4 {
                color: $body-color - #202020;
                font-size: 1.3rem;
                padding-left: 3.0rem;
                margin: 1.0rem;
            }
        }
        .error-popup-body {
            color: $body-color - #303030;
            font-size: 0.9rem;
            padding-left: 6rem;
        }
        .close-button-wrapper {
            padding-right: 3rem;
            position: absolute;
            top: $popup-height - 70px;
            left: $popup-width - 150px;
        }
    }
    .error-popup-background {
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0.7;
        background-color: #000000;
        z-index: 100;
    }
}
