@mixin selectbox($width) {
    .selectbox-wrapper {
        @include fixed-width($width);
        .selectbox {
            @include appearance(none);
            @include margin-center();
            @include border-radius(3px);
            display: block;
            color: $body-color;
            background-color: $selectbox-bgcolor;
            width: 100%;
            border: 1px solid #000000;
            padding: 0.5rem;
            margin: 3px;
            cursor: pointer;
            &:focus {
                outline: 0;
            }
            &:hover {
                background-color: $selectbox-hover-bgcolor;
            }
        }
    }
}
